<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% if title %}
  <title>Ubunifu - {{ title }} </title>
  {% else%}
  <title>UBUNIFU:The creatives Haven</title>
  {% endif %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
</head>

<body>
<style>
  body{
   background-image: url('https://wallpaperplay.com/walls/full/f/3/5/224755.jpg');
  }
  .page{
  position: relative;
  min-height: 90vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
  </style>
<div class="page">

 
  <section>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
          </li>

          {% if current_user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('new_post')}}">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('account')}}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
          </li>
          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('register')}}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endif %}


    

  </section>

  <h2 class="text-center text-white">Ubunifu:Bring Your ideas to life</h2>

  <div>
  {% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages%}
  {% for category,message in messages %}

  <div class="alert alert-{{ category }}">

  </div>
  {% endfor%}
  {% endif %}
  {% endwith %}

</div>



  {% block content%}
  {% endblock %}
  <hr>

  <footer class="footer page-footer text-center font-small mt-4">

    <hr class="my-4">

    <div class="pb-4">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://pinterest.com/" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

    </div>

    <div class="footer-copyright py-3" style="color: azure;">
      &copy; 2019 Copyright:
      <a href="#" target="_blank"> Ndundiro Kamau </a>
    </div>
  </footer>
</div>
</body>

</html>