{% extends "base.html" %}

{% block content %}
<style>
    .card {
        background-color: dimgray;
    }
</style>

<div class="container-fluid" style="margin-top: 25px;">
    <section>
        <div class="row wow fadeIn card-columns">
           

            {% for post in posts%}
            <div class="m-4 col-md-4 card">
                <div class="card-header">
                        <h2><a class="text-dark list-group-item animated fadeInRight article-title"  href="{{ url_for('post', post_id=post.id) }}" >{{ post.title }}</a></h2>
                </div>
                <div class="card-body ">
                    <ul class=" card-text list-group list-group-flush text-center">
                        <p class="text-white animated fadeInRight text-center">{{ post.content }}</p>
                    </ul>
                    <div class="card-footer">
                        <a class="mr-2 text-white" href="#">Author:{{ post.author.username}}</a>
                        <small class="text-white ">Date Posted:{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}